{% extends "base.html" %}

{% block head %}
<!-- 1. Link to jQuery (1.8 or later), -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css')}}" />
<script type="text/javascript" src="http://code.jquery.com/ui/1.8.13/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.sidebar.js')}}"></script>

<!-- fotorama.css & fotorama.js. -->
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.js"></script> <!-- 16 KB -->

<style>
    body{margin: 0;}
    .fotorama {margin-bottom: 15px;}
    iframe{display: inline-block; height: 25px;width: 90px;margin-right:15px;}
</style>

{% endblock %}

{% block content %}

<div id="sidebar" >
Location:<br><br>
</div>


<div class="fotorama" id="images"
    data-allowfullscreen="native"
    data-nav="thumbs"
    data-width="100%"
    data-height="95%"
    data-autoplay="true"
    data-loop="true"
    data-keyboard="true"
    data-arrows="true"
    data-click="true"
    data-swipe="true"
    data-hash="true"
    data-fit="contain"
    ></div>

<script type="text/javascript">
$("div#sidebar").sidebar();
</script>

<script type="text/javascript">
    var data = '{{data|safe}}';
    var json_dict = JSON.parse(data);  
    console.log(json_dict); 
    var result="";
    for (var i in json_dict) {
      if (json_dict.hasOwnProperty(i)) {
        var value = json_dict[i];
        for(var i=0; i< value.length; i++){
            var img_link = window.location.origin+"/img/"+value[i];
            result=result+"<img src=\""+img_link+"\">";
        }
      }
    }

    document.getElementById('images').innerHTML += result;
    document.getElementById('sidebar').innerHTML += Object.keys(json_dict);
    document.getElementById('sidebar').innerHTML += "<br><br><div id=\"fb_twitter\"></div>"

     $('#images').on('fotorama:show', function (e, fotorama) {
        
        var share_link=window.location.origin+'/img/'+value[fotorama.activeIndex];
       
        $('#fb_twitter').replaceWith('<div id="fb_twitter"><iframe id="sharebutton" src="//www.facebook.com/plugins/share_button.php?href='+share_link+'&amp;layout=button_count&amp;appId=367417373420800" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe><iframe id="tweetbutton" allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url='+share_link+'&amp;text=Check%20this%20picture%20&amp;"></iframe></div>');
       
        //document.getElementById('sharebutton').setAttribute("src", '//www.facebook.com/plugins/share_button.php?href='+share_link+'&amp;layout=button_count&amp;appId=367417373420800');
        //document.getElementById('tweetbutton').setAttribute("src", 'http://platform.twitter.com/widgets/tweet_button.html?url='+share_link+'&amp;text=Check%20this%20picture%20&amp;');
   
    });


</script>

{% endblock %}
