{% extends "base.html" %}

{% block head %}

<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/main.css')}}"/>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBfGe6xmqnRePan_U2AQanxi-qrbugN9FM&sensor=false"></script>
<script>
var point1=new google.maps.LatLng(51.508742,-0.120850);
var point2=new google.maps.LatLng(30.508742,4.0850);

function initialize() {
  var mapProp = {
    minZoom: 2,
    maxZoom: 11,
    center:new google.maps.LatLng(35,0),
    zoom: 3,
    mapTypeId:google.maps.MapTypeId.ROADMAP
    };

  var infowindow = new google.maps.InfoWindow();
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

  function placeMarker(location, value) {
    
    var result='';
    for(var i=0; i< value.length; i++){
      var img_link = window.location.origin+"/img/"+value[i];
      result=result+"<a href=\""+img_link+"\"><img src=\""+img_link+"\" height=\"40\" width=\"40\"/></a>";
    }
    console.log(result);

    var marker = new google.maps.Marker({
      position: location,
      map: map,
      descrip : result
    });

    google.maps.event.addListener(marker, 'click', function() {
      if (infowindow) {
        infowindow.close();
      };
      infowindow.setOptions({
        content: this.descrip,
        maxWidth:300
      });
      infowindow.open(map,marker);
    });
  }
    var data = '{{data|safe}}';
    var json_dict = JSON.parse(data);   

    for (var i in json_dict) {
      if (json_dict.hasOwnProperty(i)) {
        var point=new google.maps.LatLng(json_dict[i][0],json_dict[i][1]);
        var value = json_dict[i];
        value.shift();
        value.shift();
        placeMarker(point,value);
      }
    }
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock %}

{% block content %}

<div id="googleMap"></div>


{% endblock %}
