<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
	<head>
		<meta charset="UTF-8"/>
		<title>Blueprints Database</title>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='index.css')}}"/>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<link rel="icon" type="image/png" href="http://www.iconpng.com/png/stickers/database.png" />
	</head>

	<body>
		<div id="black_line">
			<div id="button_enter">
				<a href="home">Enter</a>
			</div>
		</div>
	</body>
</html>