{% extends "base.html" %}

{% block head %}
<!-- 1. Link to jQuery (1.8 or later), -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

<!-- fotorama.css & fotorama.js. -->
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.js"></script> <!-- 16 KB -->

<style>
body{margin: 0;}
.fotorama {margin-bottom: 15px;}
</style>
{% endblock %}

{% block content %}


<div class="fotorama" id="images"
    data-allowfullscreen="native"
    data-nav="thumbs"
    data-width="100%"
    data-height="95%"
    data-autoplay="true"
    data-loop="true"
    data-keyboard="true"
    data-arrows="true"
    data-click="true"
    data-swipe="true"
    data-hash="true"
    data-fit="contain"></div>



<script type="text/javascript">

    var data = '{{data|safe}}';
    console.log("data: "+data.length);
    if(data.length==2) document.getElementById('images').innerHTML = "<h2>&nbsp;&nbsp;&nbsp;No image</h2>";
    else {
        var json_dict = JSON.parse(data);  
        var result="";
        for (var i in json_dict) {
          if (json_dict.hasOwnProperty(i)) {
            var value = json_dict[i];
            for(var i=0; i< value.length; i++){
                var img_link = window.location.origin+"/img/"+value[i];
                result=result+"<img src=\""+img_link+"\">";
            }
            }
        }
        document.getElementById('images').innerHTML += result;
    }
</script>

{% endblock %}
